    <!--=========== START BLOG SECTION ================-->
<section id="blogArchive">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start Blog Content -->
                                <div class="col-md-12 col-sm-12">
                                    <div class="blog-content">
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <a href="#"><img alt="img" src="~/images/dr-chandran.jpg"></a>
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-content blog-details">
                                                    <h2>CHANDRAN GNANAMUTHU</h2>
                                                    <p>He comes with over 45 years of experience in Clinical Neurology and Medicine. He had worked 25 yrs at Christian Medical College Hospital, Vellore, as Professor and Head of Department and had built one of the highest rated Neurosciences Departments in India.  He later worked as Senior Consultant in Neurology for 9 yrs with Fortis Hospital and later Sakra World Hospital and has wide experience in the corporate healthcare industry.   He has visited and worked in many advanced Neuroscience Centers overseas.   He has made major contributions to Neuroscience research in the field of inflammatory and demyelinating disorders of the Central Nervous system.   His achievements have been recognized by the leading medical academies of the world.  Besides being an outstanding clinician, his passion is to build the best teams and systems for Advanced Neurological Care.</p>
                                                    <blockquote>
                                                        His position in Northspring Healthcare is Managing Director.
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

